.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #494C62;
  justify-content: space-between;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3ee08f;
  width: 80px;
  height: 100%;
}

.logo {
  display: flex;
  height: 100%;
  align-items: center;
}

p {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0px 20px;
}

.searchWrapper {
  position: relative;
}

input {
  width: 300px;
  height: 64px;
  border-radius: 5px;
  background-color: #64667C;
  border: none;
  padding-left: 20px;
  padding-right: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

::-webkit-input-placeholder {color:#BFC1C3; opacity:1;}
::-moz-placeholder          {color:#BFC1C3; opacity:1;}
:-moz-placeholder           {color:#BFC1C3; opacity:1;}
:-ms-input-placeholder      {color:#BFC1C3; opacity:1;}

.searchImg {
  position: absolute;
  right: 10px;
  top: 20px;
  height: 30px;
}

.notifyWrapper {
  position: relative;
  display: flex;
  margin-left: 15%;;
}

.notifyIcon {
  height: 30px;
} 

.notify {
  position: relative;
  display: flex;
  margin: 0px 20px;
  cursor: pointer;
}

.counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  color: #ffffff;
  background-color: #fff;
  border-radius: 50%;
  right: -10px;
  bottom: -10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ffffff;
  font-size: 12px;
}

.friendsCounter {
  background-color: #4599CE;
}

.chatCounter {
  background-color: #B945CE;
}

.notificationCounter {
  background-color: #3EE08F;
}

.userWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 2%;
}

.status {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #3EE08F;
  border-radius: 50%;
  top: 40px;
  left: 53px;
  border: 1px solid #ffffff;
}

.name {
  font-size: 14px;
  margin-left: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.pseudonym {
  font-size: 12px;
  text-transform: none;
  margin-left: 15px;
  font-weight: normal;
}

.profileRow {
  display: flex;
  align-items: center;
}

.triangle {
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
  cursor: pointer;
  margin-top: 5px;;
}
