body {
  background-color: #EDF2F6;
}

.pageWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  max-width: 1270px;
  margin: 40px auto;
}

.leftColumn {
  grid-column: 1/4;
}

.content {
  grid-column: 4/10;
}

.rightColumn {
  grid-column: 10/13;
}